<div>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012100</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="改良种用马">改良种用马</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">124</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="蒙古">蒙古</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">19</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="边境小额贸易">边境小额贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">15</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="内蒙古自治区">内蒙古自治区</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">8647</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">44</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">306,022</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">110</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="香港">香港</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">44</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="广东省">广东省</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">3979</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">8</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">26,844</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">124</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="蒙古">蒙古</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">19</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="边境小额贸易">边境小额贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">15</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="内蒙古自治区">内蒙古自治区</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">20200</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">47</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">343,005</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">301</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="比利时">比利时</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">8400</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">21</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">5,829,418</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">302</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="丹麦">丹麦</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">2400</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">6</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">1,133,870</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">309</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="荷兰">荷兰</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">6600</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">31</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">2,190,272</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01012900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他马，改良种用除外">其他马，改良种用除外</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">609</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="新西兰">新西兰</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">3260</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">11</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">776,804</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01022100</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="改良种用家牛">改良种用家牛</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">601</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="澳大利亚">澳大利亚</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">1407286</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">4609</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">58,374,683</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01022100</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="改良种用家牛">改良种用家牛</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">609</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="新西兰">新西兰</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">885000</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">2142</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">31,265,542</div>
                </td>
                
            </tr>
            <tr class="text-c  mt-10">
                
                <div>
                    <td style="width: 5%;min-width: 80px">
                        <div class="th-line" style="border-left: hidden">01022900</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="其他家牛，改良种用除外">其他家牛，改良种用除...</div>
                    </td>
                    
                    
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    <td>
                        <div class="th-line">601</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="澳大利亚">澳大利亚</div>
                    </td>
                    
                    
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    <td>
                        <div class="th-line">10</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="一般贸易">一般贸易</div>
                    </td>
                    
                    
                </div>
                <div>
                    
                    
                    
                    
                    
                    
                    <td>
                        <div class="th-line">11</div>
                    </td>
                    <td>
                        
                        <div class="th-line" title="北京市">北京市</div>
                    </td>
                </div>
                <td>
                    <div class="th-line">5139555</div>
                </td>
                <td>
                    <div class="th-line">千克</div>
                </td>
                <td>
                    <div class="th-line">16415</div>
                </td>
                <td>
                    <div class="th-line">头</div>
                </td>
                <td>
                    <div class="th-line">186,351,148</div>
                </td>
                
            </tr>
                <div style="position: absolute;margin-top: 20px;width: 98%;padding-right: 8px">
                    <div style="margin-top: -20px;">
    <div class="f-l f-14 mt-10 ml-10">
        <p class="c-666">共查询到 <span style="color: #00b9d4">1518704</span> 条数据</p>
    </div>
    <div class="f-l mt-10 ml-15" style="font-size: 14px;margin-top: 8px">
        <p class="c-666" style="display: inline-block">每页显示条数</p>
        <select id="pageSize" onchange="doSearch(1)" style="color:#2f98fa">
            <option value="10" selected="selected">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
    </div>
    <div class="f-r mt-10 mr-10">
        <span class="hidden">
            <a class="hidden btn size-S" href="javascript:void(0)">首页</a>
        </span>

        <a href="javascript:void(0)" class="disabled btn size-S">上页</a>

        <!-- <span  th:each="page : ${pageInfo.navigatepageNums}">
             <a th:class="${page == pageInfo.pageNum} ? 'disabled btn size-S':'btn size-S'" href="javascript:void(0)"
                th:text="${page}"
                th:onclick="'doSearch(' + ${page} + ');'" style="color: #00b9d4"></a>
         </span>-->
        <span>
            <a class="disabled f-14 c-success">1</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(2);">2</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(3);">3</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(4);">4</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(5);">5</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(6);">6</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(7);">7</a>&nbsp;
        </span>
        <span>
            <a class="f-12 c-666" onclick="doSearch(8);">8</a>&nbsp;
        </span>
        <a href="javascript:void(0)" class="btn size-S" onclick="doSearch(2);">下页</a>
        <a href="javascript:void(0)" class="btn size-S" onclick="doSearch(151871);">尾页</a>
        <a id="totalPages" class="disabled btn size-S">共151871页</a>
        <input type="number" class="input-text size-S" id="change-page-num" style="width:60px;color: #00b9d4" value="1" />
        <a class="btn size-S'" type="button" style="color:#666" onclick="return doSearch($(&#39;#change-page-num&#39;).val())">
            <font style="margin: auto">跳转</font>
        </a>
    </div>
</div>
                </div>
            </div>